*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.header{
	width: 100%;
	height: 70px;
	position: relative;
	background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#d4d7db));
	background: -moz-linear-gradient(top,#fff,#d4d7db);
	background: -o-linear-gradient(top,#fff,#d4d7db);
	background: linear-gradient(top,#fff,#d4d7db);
}
.progress{
	width: 100%;
    height: 2px;
    background: #29d;
}
.logo{
	width: 190px;
	height: 68px;
	float: left;
}
.logo img{
	height: 100%;
}
.nav{
	margin:0 auto;
	width: 1000px;
}
ul,li{
	list-style: none;
}
ul:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.nav ul li{
	list-style: none;
	float: left;
	width: 90px;
	height: 70px;
	position: relative;
	overflow: hidden;
}
.nav li a{
	display: inline-block;
	float: left;
	width: 90px;
	height: 70px;
	line-height: 70px;
	text-decoration: none;
	position: relative;
	color: black;
	text-align: center;
	z-index: 100
}
.hover-bg{
	position: absolute;
	top:66px;
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav ul li:nth-child(1) .hover-bg{
	background: #b9d329;
}
.nav ul li:nth-child(2) .hover-bg{
	background: #c0ebf7;
}
.nav ul li:nth-child(3) .hover-bg{
	background: #b9d329;
}
.nav ul li:nth-child(4) .hover-bg{
	background: #69bcf3;
}
.nav ul li:nth-child(5) .hover-bg{
	background: #79d9f3;
}
.nav ul li:nth-child(6) .hover-bg{
	background: #ffae5b;
}
.nav ul li:nth-child(7) .hover-bg{
	background: #acd180;
}
.nav ul li:nth-child(8) .hover-bg{
	background: #fab4cc;
}
.nav ul li:nth-child(9) .hover-bg{
	background: #6cf;
}
.nav ul li:nth-child(10) .hover-bg{
	background: #b9d329;
}
.container{
	width: 1000px;
	margin: 30px auto;
}
.container li{
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    list-style: none;
}
