*{
	margin:0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	background-color: #f5f5f5;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.pd10{
	padding-left: 10px;
	padding-right: 10px
}
.pdh5{
    padding: 0 5px;
}
.mt10{
	margin-top: 10px;
}
.no_border{
	border: none!important;
}
.lh22{
    line-height: 22px;
}
.tar{
	text-align: right;
}
.tac{
    text-align: center;
}
.clearfix:after{
	display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    content: '';
}
.theme-color{
	color: #fe90b0;
}
.white{
	color: white;
}
.header{
	padding: 0 10px;
    background-color: rgb(49,49,49);
    color: white;
    height: 40px;
    line-height: 40px;
}
.icon_back{
	display: block;
    width: 12px;
    height: 22px;
    float: left;
    background: url("../img/back_icon.png") no-repeat center center;
    background-size: 12px 22px;
    margin: 9px 10px 9px 0;
}
.header_title{
	font-size: 18px;
}
section{
	background-color: white;
}
/*兼容不支持H5标签的浏览器*/
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
.app_item{
    height: 30px;
	padding: 7.5px 10px;
	border-bottom: 1px solid #dcdcdc;
}
.app_item img{
	width: 30px;
	height: 30px;
}
.app_logo{
	background: url(../img/app_logo.png);
	display: inline-block;
	width: 30px;
	height: 30px;
}
.app_title{
	height: 30px;
    margin-left: 10px;
}
.app_title p{
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.app_title span{
    font-size: 12px;
    line-height: 12px
}
.app_install{
	width: 80px;
    height: 30px;
    background-color: #fe90b0;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-size:16px;
}
.baby_content{
	padding: 10px;
}
.baby_title{
    height: 18px;
	line-height: 18px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #323232;
    font-weight: bold;
}
.data_mark{
	color: #c9c9c9;
    margin: 10px 0;
}
.desc_title{
	margin: 15px 0 10px;
}
.desc_con{
	margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.desc_con li{
	line-height: 20px;
}
.ls_no{
	list-style: none;
	color: #636363;
}
.baby_summary p{
	font-size: 14px;
    line-height: 28px;
}
.baby_summary div{
	line-height: 28px;
    color: #636363;
    font-size: 14px;
}
.recommend{
	margin-top: 10px;
    padding: 0 10px;
    border-bottom: 1px solid rgb(220,220,220);
}
.rec_title{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.rec_item{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(220,220,220);
}
.rec_item a{
	display: inline-block;
    float: left;
    margin-right: 10px;
}
.rec_desc{
	width: 80%;
}
.rec_item p{
	font-size: 14px;
    line-height: 16px;
}
.rec_item span{
	font-size: 12px;
    line-height: 18px;
    color: #636363;
}
.footer{
	text-align: center;
    height: 100px;
}
.knowledge_more{
	background-color: #fc90b0;;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    margin: 30px auto 40px;
    color: white;
    font-size: 14px;
    width: 200px;
}
/*
妈妈圈
*/
.author_info{
	padding: 10px 10px;
	border-bottom: 1px solid rgb(220,220,220);
}
.author_box{
	display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
}
.author_box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.author_title{
	float: left;
    margin-left: 10px;
}
.author_title a{
	text-decoration: none;
    color: #fc90b0;
    line-height: 22px;
    font-size: 16px;
    display: block;
}
.author_title div{
	color: #c8c8c8;
	line-height: 18px;
}
.pub_time{
	float: right;
    line-height: 40px;
    color: #c8c8c8;
}
.auth_content{
	padding-bottom: 10px;
}
.pub_article{
	margin-top:10px;
    padding: 0 10px;
}
.pub_article h3{
	color: #313131;
    line-height: 26px;
    font-size: 14px;
}
.pub_article p{
	line-height: 24px;
    color: #979797;
    margin-bottom: 5px;
}
.comment-box{
	padding: 10px 10px 0;
    margin-top: 10px;
    border-bottom: 1px solid rgb(220,220,220);
}
}
.comment-box h3{
	line-height: 24px;
    color: #494949;
}
.user-box{
	padding: 10px 0;
	border-bottom: 1px solid rgb(220,220,220);
}
.user-box>a{
	display: block;
    float: left;
    width: 40px;
    height: 40px;
}
.user-box img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.item-list {
    float: left;
    margin-left: 10px;
    width: 80%;
    word-break: break-all;
}
.item-main {
    color: #fc90b0;
    font-size: 14px;
    line-height: 22px;
}
.item-time {
    color: #c7c7c7;
    line-height: 18px;
}
.item-comment {
    color: #969696;
    line-height: 22px;
}
.item-reply{
	background: #f5f5f5;
    padding: 9px 10px;
    color: #969696;
    line-height: 22px;
    position: relative;
    margin-top: 5px;
}
.array-up{
	width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 23px;
    background-color: #f5f5f5;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.page{
    height: 42px;
	line-height: 42px;
    border-bottom: 1px solid rgb(220,220,220);
    text-align: center;
    font-size: 14px;
}
a.page-prev {
    display: inline-block;
    float: left;
    color: #c8c8c8;
    width: 20%;
}
.page-num {
    float: left;
    width: 60%;
    color: #fc90b0;
}
a.page-next {
    display: inline-block;
    float: right;
    width: 20%;
    color: #979797;
}
/*
宝宝活动PK
*/
.pic-title{
	font-size: 16px;
    line-height: 26px;
    padding: 10px 0;
}
.activ-pic{
	margin-bottom: 10px;
}
.activ-pic img{
	width: 100%;
}
.activ-desc{
	line-height: 24px;
    font-size: 14px;
    color: #656565;
}
.activ-title{
	font-size: 16px;
    line-height: 40px;
    color: #323232;
}
.activ-time{
	font-size: 14px;
    line-height: 20px;
    color: #656565;
}
.activ-condition{
	color: #656565;
}
.activ-condition li{
	line-height: 24px;
    font-size: 14px;
}
.footer-activity{
	height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: white;
    background: #fc90b0;
}
/*宝宝成长页面*/
.grow_bg{
    background-image: url("../img/grow_bg.png");
}
.item-pic{
	margin: 30px;
    padding: 4px;
    box-shadow: 0px 0px 15px #A7A6A2;
    border: 1px solid #dddbd7;
    position: relative;
}
.yel-pin{
    display: inline-block;
    width: 61px;
    height: 61px;
    background: url("img/baby_pin.png");
    position: absolute;
    top: -18px;
    left: -18px;
}
.item-video{
    margin: 30px;
}
.item-pic img{
	width: 100%;
}
.pic-desc{
	line-height: 24px;
    font-size: 12px;
    color: #646464;
    padding: 0 10px;
}
.pic-desc p{
    text-indent: -4px;
}
.pic-desc time{
	display: block;
	text-align: right;
}
.the-end{
	height: 45px;
    margin: 15px 0;
	background: url("../img/the_end.png") no-repeat center center;
}
.user-info{
	text-align: center;
}
.user-info .user-img{
	width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    margin: 10px 0;
}
.user-img img{
	border-radius: 50%;
    width: 100%;
}
.user-mot{
	font-size: 14px;
    color: #959595;
    line-height: 28px;
}
/*宝贝活动详情*/
.pk-mod{
    padding: 0 10px 10px;
}
.pk-time{
    line-height: 20px;
    color: #c8c8c8;
    display: block;
}
.pk-desc{
    line-height: 20px;
    color: #969696;
    font-size: 14px;
}
.pk-tag{
    line-height: 18px;
    margin-top: 10px;
}
.pk-tag span{
    display: inline-block;
    margin-right: 10px;
    background-color: #ff8fb0;
    color: white;
    padding: 0 5px;
}
.pk-art{
    font-size: 14px;
    color: #323232;
    line-height: 24px;
    padding: 10px;
}
.like-box{
    height: 30px;
    padding: 10px 0;
}
.like-icon{
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 30px;
    color: #969696;
}
.like-icon em{
    background: url("../img/heart.png") no-repeat 0 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
.like-btn{
    display: inline-block;
    float: right;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background-color: #fe90b0;
    color: white;
    border-radius: 5px;
    padding: 0px 7px;
}
.banner-footer img{
    width: 100%;
}