<ul>
    <% for(var i=0;i<data.length;i++){ %>
    <li>
        <a href="<%= data[i].href %>">
            <img src="<%= data[i].img %>" alt="">
            <div>
                <%= data[i].title %>
            </div>
        </a>
    </li>
    <% } %>
</ul>